<!doctype html>
<html>

<head>
    <title>New tab</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {styles_ext}
    <style type="text/css">
    {styles}
    </style>
</head>

<body>
<div class="middle aligned holder doubling stackable {num} column ui grid container">
    {groups}
</div>
</body>

</html>
